.movie-container {
  background-color: rgb(27, 27, 27);
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-left: 100px; /* Add this line */
  margin-right: 100px; /* Add this line */
}

.card-container {
  text-align: center;
  flex-basis: calc(25% - 30px); /* Add this line */
  max-width: 25%; /* Add this line */
}

.card-container img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
  transition: transform 0.3s ease; /* Add transition property */
}

.card-container img:hover {
  filter: brightness(80%);
  transform: scale(1.1);
}

.card-container h1 {
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 20px;
}

.card-container p {
  font-size: 18px;
  color: white;
}

.card-container div {
  font-size: 12px;
  color: gray;
}

.custom-navbar {
  margin-bottom: 80px;
}

.banner-image {
  background-size: cover;
  background-repeat: no-repeat;
}
